<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultRenderer" value="Vulkan" />
    <add key="Resolution" value="1920x1080" />
    <add key="LDNEnabled" value="true" />
    <add key="PPTCEnabled" value="true" />
    <add key="NVDecEnabled" value="true" />
  </appSettings>
</configuration>